@model Projeto2.Models.Produto
@{
    ViewData["Title"] = "Cadastro";
}
<head>
    <link href="~/css/estilo.css" rel="stylesheet" />
</head>

<h2 id="titulo">Cadastrar Produto</h2>

<form asp-action="Cadastro" method="post">

    <div>
        <label>Nome:</label>
       <br />
        <input asp-for="Nome" id="nome" maxlength="50" required />
    </div>

    <div>
        <label>Descrição:</label>
        <br />
        <input asp-for="Descricao" id="desc" maxlength="70" required />
    </div>
    <div>
        <label>Preco por unidade:</label>
        <br />
        <input asp-for="Preco" id="preco" maxlength="6" required />
    </div>

    <button type="submit">Cadastrar</button>
    
</form>

